{%- set galleryItems -%}
	[
		{% for image in post.meta('gallery') %}
			{
				"url": "{{ Image(image) | resize(600, 450, 'center') }}",
				"id": "{{ image.id }}"
			}{%- if not loop.last -%},{%- endif -%}
		{%- endfor -%}
	]
{%- endset -%}

{% extends "_layouts/application.twig" %}

{% block content %}
  {% include '@components/molecules/hero/hero.twig' with {
    subHeading: post.title,
    classList: ['py-6 mb-6']
  } only %}

  <div class="container">
    <article class="post-type-{{ post.post_type }} pretty" id="post-{{ post.ID }}">
      {{ post.content }}
    </article>
  </div>

	{% if post.meta('gallery') %}
		{% include '@components/molecules/image-carousel/image-carousel.twig' with {
			lightbox: true,
			perView: 3,
			controls: true,
			mobilePerView: 1,
			images: post.meta('gallery'),
			integrated: true
		} only %}
	{% endif %}
{% endblock %}
