{% extends "_layouts/application.twig" %}

{% block content %}
  {% include 'molecules/hero/hero.twig' with { 
    subHeading: post.title,
    classList: ['py-6 mb-2']
  } only %}

  <div class="container">
    <article class="border-b border-grey-base mb-5 pb-5">
      <div class="flex flex-wrap overflow-hidden md:-mx-2 mb-3">
        <time class="md:px-2">
          <small>{{ post.date }} {{ post.time }}</small>
        </time>
        {% if post.can_edit %}
          <div class="md:px-2">
            <a href="{{ post.get_edit_url }}">
              <span class="text-xs">{{ messages.single.edit }}</span>
            </a>
          </div>
        {% endif %}
      </div>
      
      <div class="pretty">
        {{ post.content }}
      </div>
    </article>

    <section>
      <div>
        {% if post.comments is not empty %}
          <h3 class="font-medium mb-2">{{ messages.single.comments }}</h3>
          {% for comment in post.comments %}
            {% include "comment.twig" %}
          {% endfor %}
        {% endif %}
      </div>

      {% if post.comment_status == "open" %}
        <div class="w-full border-t pt-5 mt-5 border-grey-base">
          {% include "comment-form.twig" %}
        </div>
      {% endif %}
    </section>
  </div>
{% endblock %}
