<!DOCTYPE html>
<html lang="en" class="sr js-loading">
  <head>
    <meta charset="utf-8mb4">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
      {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
      {% else %}
        {{ site.name }}
      {% endif %}
    </title>

    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="{{ favicon }}">

    <meta name="theme-color" content="#000000">
    <meta name="description" content="{{ site.description }}">

		{# Google Anlaytics Script #}
		{{ options.google_analytics }}
		{{ options.schema }}

    <link rel="pingback" href="{{ site.pingback_url }}"/>

    <script>
      window.APP = {
        modules: {},
        addModule: function(name, config) {
          this.modules[name] = this.modules[name] || [];
          this.modules[name].push(config);
        },
        DEBUG: 0,
        CONFIG: {
        },
      };
		</script>

    {{ function('wp_head') }}
  </head>


  <body class="{{ body_class }}">
    {% if not in_production %}
      <div class="fixed bottom-0 right-0 bg-grey-base font-mono p-2 text-xs z-10">
        {{ current_template_file }}
      </div>
    {% endif %}

    {% include '_includes/chrome/header.twig' %}

    <main id="app">
      {% block content %}
        <p>No Content</p>
      {% endblock %}
    </main>

    {% include '_includes/chrome/footer.twig' %}
    {{ function('wp_footer') }}

  </body>
  </html>
